<% content_for :head do %>
  <%#= turbo_page_requires_reload %>
<% end %>

<h2 class="opacity-20 text-2xl sm:text-3xl md:text-4xl lg:text-5xl mr-6 mb-6"><%= @assignable.name %></h2>

<div class="flex flex-row items-center justify-between mb-10">
  <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">Assign user</h1>
</div>

<div data-turbo="false">
  <%= turbo_frame_tag "new_assignment" do %>
    <%= render partial: 'assignments/form', locals: { assignable: @assignable, assignment: @assignment } %>
  <% end  %>
</div>