<h1>Editing problem</h1>

<%= render "form", problem: @problem %>

<br>

<div>
  <%= link_to "Show this problem", [@project, @problem] %> |
  <%= link_to "Back to problems", project_problems_path(@project) %>
</div>
