<h1>Previous Versions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <%= render partial: "problem_version", locals: { problem: problem } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', problems_path %>
