<div class="flex flex-row justify-between mb-10">
  <h1 class="opacity-20 text-2xl sm:text-3xl md:text-4xl lg:text-5xl mr-6">Edit organisation</h1>
</div>

<%= render "form", organisation: @organisation %>

<hr class="my-8"/>

<%= link_to organisations_path, class: "mr-2 cursor-pointer text-indigo-800 hover:underline" do %>
  Back to organisations
<% end %>