<% if resource.errors.any? %>
  <div class="mb-8 w-fit px-8 py-4 bg-red-100 text-red-900 border rounded border-red-900">
    <h2 class="font-bold"><%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource.class.name %> from being saved:</h2>

    <ul class="list-disc px-4">
      <% resource.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>